#graphSection {
  position: absolute;
  top: 30vh;
  height: 500px;
  margin-left: 50px;
}

.arrayBar {
  width: 3px;
  background-color: pink;
  display: inline-block;
  margin: 0 2px;
  border: 1px solid black;
}

button {
  display: inline-block;
  margin-left: 5%;
}

#buttonSection {
  text-align: center;
}
